$margins: (
    ("m", "margin"),
    ("mt", "margin-top"),
    ("mr", "margin-right"),
    ("mb", "margin-bottom"),
    ("ml", "margin-left"),
    ("mx", ("margin-left", "margin-right")),
    ("my", ("margin-top", "margin-bottom"))
);

@each $margin in $margins {
    $prefix: nth($margin, 1);
    $properties: nth($margin, 2);

    @for $i from 1 through 15 {
        .#{$prefix}-#{$i} {
            @if type-of($properties) == "list" {
                @each $property in $properties {
                    #{$property}: $i * 0.25rem;
                }
            } @else {
                #{$properties}: $i * 0.25rem;
            }
        }
    }
}

$paddings: (
    ("p", "padding"),
    ("pt", "padding-top"),
    ("pr", "padding-right"),
    ("pb", "padding-bottom"),
    ("pl", "padding-left"),
    ("px", ("padding-left", "padding-right")),
    ("py", ("padding-top", "padding-bottom"))
);

@each $padding in $paddings {
    $prefix: nth($padding, 1);
    $properties: nth($padding, 2);

    @for $i from 1 through 15 {
        .#{$prefix}-#{$i} {
            @if type-of($properties) == "list" {
                @each $property in $properties {
                    #{$property}: $i * 0.25rem;
                }
            } @else {
                #{$properties}: $i * 0.25rem;
            }
        }
    }
}
